# Зависимости
node_modules/
yarn-error.log

# Переменные окружения
.env
.env.local
.env.development
.env.test
.env.production

# Сборка
dist/
dist-ssr/
build/

# Кэш
.cache/
.temp/
.vite/

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Файлы IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Системные файлы
.DS_Store
Thumbs.db

# Локальные файлы
*.local