# Зависимости
node_modules/
yarn-error.log

# Переменные окружения
.env
.env.local
.env.development
.env.test
.env.production

# Логи
logs/*
!logs/.gitkeep

# Кэш и временные файлы
.cache/
cache/
dist/
build/
tmp/
temp/

# Артефакты Hardhat
artifacts/
cache/
typechain/
typechain-types/

# Файлы покрытия кода
coverage/
coverage.json

# Файлы IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Системные файлы
.DS_Store
Thumbs.db

# Файлы сессий
sessions/